div{
    background: wheat;
    width:400px;
    border: 2px solid green;
  /*  Insert code below  */
    /* padding-left:40px;
    padding-right:40px;
    padding-top: 45px;
    padding-bottom: 45px; */
    padding: 45px 40px;
  }