#a >div {
    background:wheat;
    /*  Insert code bellow   */
    margin-left:40px;
    margin-right:40px;
    margin-top: 50px;
    margin-bottom:50px;
  } 
 
  #a{
    /* DO NOT insert code here */
    border:1px solid black
  }