div{
    height: 300px;
    width: 800px;
    background-image: url(https://brasol.vn/public/uploads/1521196881-brasol.vn-logo-google-vector-logo-google-3.png);
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 5px;
}
.div1{
    background-size: contain;
}
.div2{
    background-size: cover;
}